<div style="text-align:center">
  <h1 onmouse>
    Welcome  {{ title }} !
  </h1>
</div>
<!-- <text-select></text-select> 
 <app-math-operations text-color></app-math-operations>
<app-employee-salary ></app-employee-salary>
<text-select bg-color></text-select>
<pre-pipe ></pre-pipe> 

<my-str-test></my-str-test> 
<Strct-ngif></Strct-ngif>
<MyParent></MyParent>
 <key-up></key-up> -->
 <!-- <app-inject-services></app-inject-services> -->
 <!-- <pick-color></pick-color> -->
 <!-- <app-user-inject></app-user-inject> -->
 <!-- <app-froms></app-froms> -->
 <!-- <app-mdform></app-mdform> -->
 
 <Built-in-pipes></Built-in-pipes>
<!-- <app-position></app-position> -->


