<p>
  math-operations works!
</p>
<div class="container">
<label>Enter first number:</label><label><input type="number" #firstvalue></label><br>
<label>Enter second number:</label><label><input type="number" #secondvalue></label><br>
<!-- <label>Select Oporater:</label><label><select><option>+</option><option>*</option></select></label><br> -->
<button (click)="math(firstvalue.value,secondvalue.value)">Submit</button>

<h1 class="alert alert-success" id="M"></h1>
</div>


<div class="container">
  <table class="table table-striped">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
      </tr>
      <tr>
        <td><b>1143</b></td>
        <td>Subrahmanyam</td>
        <td><i>subbu123@gmail.com</i></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
  </table>
</div>